html {
  box-sizing: border-box;
}

* {
  outline: none;
}

html, body {
  background-color:white;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.main {
  border-radius: 5px;
  min-height: 100vh;
  height: 100%;
}
