.offline {
  text-align: center;
  padding: 30px 40px;
}

.offline__header {
  margin: 0;
  padding: 0;
  font-size: 22px;
  color: #0e141a;
  font-weight: 900;
  margin-bottom: 20px;
}

.offline__logo {
  width: 63px;
  padding: 0;
  margin: 40px 0;
}

.offline__disclaimer {
  font-size: 12px;
  line-height: 16px;
  color: rgba(14, 20, 26, .8);
  font-weight: 400;
  margin: 15px 0;
  padding: 0;
}
