.projectList {
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100vh - 100px);
}

.projectList__loading {
  text-align: center;
  padding-top: 80px;
  height: 100%;
  min-height: 100%;
  font-size: 12px;
}
