.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  height: 50px;
  padding: 0 15px;
  line-height: 50px;
  border-top: 1px solid #d9d8d8;
  font-size: 12px;
  font-weight: 100;
}

.footer__column {
  flex: 1;
}

.footer__column--status {
  margin-top: 2px;
  color: rgba(14, 20, 26, .8);
}

.footer__column--account {
  text-align: right;
}
