.project {
  display: flex;
  line-height: 60px;
  height: 60px;
  border-bottom: 1px solid #d9d8d8;
  padding: 0 15px;
}

.project:last-of-type {
  border-bottom: none;
}

.project__column {
  flex: 1;
}

.project__column:first-of-type {
  width: 70%;
}

.project__name {
  font-size: 13px;
  margin-top: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project__statusText,
.project__name {
  font-weight: 400;
}

.project__status {
  text-align: right;
}

.project__statusText {
  font-size: 9px;
  margin-right: 20px;
  color: rgba(14, 20, 26, .8);
  text-transform: capitalize;
}
