.project {
  display: flex;
  line-height: 60px;
  height: 60px;
  border-bottom: 1px solid #d9d8d8;
  padding: 0 15px;
}

.project:hover {
  opacity: 0.7;
}

.project:last-of-type {
  border-bottom: none;
}

.project__column {
  flex: 1;
}

.project__column:first-of-type {
  width: 70%;
}

.project__name {
  font-size: 12px;
  margin-top: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 95%;
}

.project__statusText,
.project__name {
  font-family: 'Galano Grotesque';
  font-weight: 500;
}

.project__status {
  text-align: right;
}

.project__statusText {
  font-size: 10px;
  margin-right: 20px;
}
