.login {
  text-align: center;
  padding: 30px 40px;
}

.login__header {
  margin: 0;
  padding: 0;
  font-size: 22px;
  color: #0e141a;
  font-weight: 900;
  margin-bottom: 20px;
}

.login__logo {
  width: 63px;
  padding: 0;
  margin: 10px 0;
}

.login__disclaimer {
  font-size: 12px;
  line-height: 16px;
  color: rgba(14, 20, 26, .8);
  font-weight: 400;
  margin: 15px 0;
  padding: 0;
}

.login__button {
  font-size: 12px;
  background-color: #03ae5a;
  border: none;
  font-weight: 900;
  text-align: center;
  border-radius: 4px;
  padding: 15px 36px;
  line-height: 18px;
  margin: 15px 0;
  transition: background-color .3s;
  color: white;
  cursor: pointer;
  vertical-align: middle;
  box-shadow: inset 0 0 0 1px rgba(14, 20, 26, .04), 0 2px 6px 0 rgba(14, 20, 26, .1)
}
